body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;

    background: url("../../public/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    flex: 1 0 auto;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;

    border-radius: 15px;
    padding: 2.5em;

    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.5);
}

.container-img {
    background-color: #fff;
    border-radius: 15px;
}

.container-title {
    text-align: center;
    font-weight: bold;
}

.container-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 4fr));
    grid-gap: 10px;
}

.btn {
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 1em 1.5em;
    background-color: #0a276a;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    background-color: #1a237e;
}

.btn:active {
    box-shadow: none;
    top: 5px;
}

.btn:disabled,
.btn[disabled] {
    background-color: #cccccc;
    color: #666666;
    cursor: auto;
}

img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.snowflake {
    color: #fff;
    font-size: 1em;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%;
    }

    100% {
        top: 100%;
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(80px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%;
    }

    100% {
        top: 100%;
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(80px);
    }

    100% {
        transform: translateX(0px);
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    user-select: none;
    cursor: default;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}

.snowflake:nth-of-type(0) {
    left: 1%;
    animation-delay: 0s, 0s;
}

.snowflake:nth-of-type(1) {
    left: 10%;
    animation-delay: 1s, 1s;
}

.snowflake:nth-of-type(2) {
    left: 20%;
    animation-delay: 6s, 0.5s;
}

.snowflake:nth-of-type(3) {
    left: 30%;
    animation-delay: 4s, 2s;
}

.snowflake:nth-of-type(4) {
    left: 40%;
    animation-delay: 2s, 2s;
}

.snowflake:nth-of-type(5) {
    left: 50%;
    animation-delay: 8s, 3s;
}

.snowflake:nth-of-type(6) {
    left: 60%;
    animation-delay: 6s, 2s;
}

.snowflake:nth-of-type(7) {
    left: 70%;
    animation-delay: 2.5s, 1s;
}

.snowflake:nth-of-type(8) {
    left: 80%;
    animation-delay: 1s, 0s;
}

.snowflake:nth-of-type(9) {
    left: 90%;
    animation-delay: 3s, 1.5s;
}
