body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    min-height: 100vh;

    background: url(../../public/img/background.jpg) no-repeat;
    background-size: cover;
}

main {
    flex: 1 0 auto;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;

    border-radius: 15px;
    padding: 2.5em;

    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.5);
}

.container-img {
    background-color: #fff;
    border-radius: 15px;
}

.container-title {
    text-align: center;
    font-weight: bold;
}

.container-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 4fr));
    grid-gap: 10px;
}

.btn {
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 1em 1.5em;
    background-color: #0a276a;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    background-color: #1a237e;
}

.btn:active {
    box-shadow: none;
    top: 5px;
}

.btn[disabled] {
    background-color: #cccccc;
    color: #666666;
    cursor: default;
}

img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
