<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self' 'unsafe-inline' cdnjs.cloudflare.com; style-src 'self' cdnjs.cloudflare.com; img-src 'self'; manifest-src 'self'"
        />

        <!-- Robots tags -->
        <meta name="robots" content="noindex, nofollow, noarchive" />
        <meta name="googlebot" content="noindex, nofollow, noarchive" />
        <meta name="googlebot-news" content="noindex, nofollow, noarchive" />
        <meta name="bingbot" content="noindex, nofollow, noarchive" />

        <!-- Browserconfig -->
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta
            name="msapplication-TileImage"
            content="icons/ms-icon-144x144.png"
        />

        <meta name="theme-color" content="#ffffff" />

        <title>Página no encontrada - E.T. "Francisco Fajardo"</title>

        <!-- SEO Tags -->
        <meta name="author" content='E.T. "Francisco Fajardo"' />
        <meta
            name="description"
            content="Formamos estudiantes con miras al éxito de un país productivo"
        />
        <meta
            name="keywords"
            content="francisco fajardo, fajardo, escuela tecnica, caricuao, liceo"
        />

        <link rel="canonical" href="https://franciscofajardo.com/404.html" />

        <!-- Open Graph / Facebook SEO Tags -->
        <meta
            property="og:image"
            content="https://franciscofajardo.com/img/logo.png"
        />
        <meta property="og:title" content='E.T. "Francisco Fajardo"' />
        <meta
            property="og:description"
            content="Formamos estudiantes con miras al éxito de un país productivo"
        />
        <meta property="og:locale" content="es_VE" />
        <meta property="og:site_name" content='E.T. "Francisco Fajardo"' />
        <meta
            property="og:url"
            content="https://franciscofajardo.com/404.html"
        />
        <meta property="og:type" content="school" />

        <!-- Twitter SEO Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:image"
            content="https://franciscofajardo.com/img/logo.png"
        />
        <meta name="twitter:title" content='E.T. "Francisco Fajardo"' />
        <meta
            name="twitter:description"
            content="Formamos estudiantes con miras al éxito de un país productivo"
        />
        <meta
            name="twitter:url"
            content="https://franciscofajardo.com/404.html"
        />

        <!-- Favicon's -->
        <link
            rel="apple-touch-icon"
            sizes="57x57"
            href="icons/apple-icon-57x57.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="60x60"
            href="icons/apple-icon-60x60.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="72x72"
            href="icons/apple-icon-72x72.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="76x76"
            href="icons/apple-icon-76x76.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="icons/apple-icon-114x114.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="icons/apple-icon-120x120.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="icons/apple-icon-144x144.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="icons/apple-icon-152x152.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="icons/apple-icon-180x180.png"
        />
        <link
            rel="icon"
            sizes="192x192"
            href="icons/android-icon-192x192.png"
        />
        <link rel="icon" sizes="32x32" href="icons/favicon-32x32.png" />
        <link rel="icon" sizes="96x96" href="icons/favicon-96x96.png" />
        <link rel="icon" sizes="16x16" href="icons/favicon-16x16.png" />
        <link rel="shortcut icon" href="favicon.ico" />

        <!-- Web App Manifest -->
        <link rel="manifest" href="site.webmanifest" />

        <!-- Styles -->
        <%= htmlWebpackPlugin.tags.headTags %>

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <header>
            <img
                src="img/covid.png"
                class="header-img"
                alt="Contra el COVID-19"
            />
        </header>

        <main>
            <div class="container">
                <img
                    src="img/logo.png"
                    class="container-img"
                    alt='Insignia del E.T. "Francisco Fajardo"'
                />

                <h1 class="container-title">Página no encontrada</h1>

                <h3 class="container-description">
                    No se ha encontrado la página que buscas. Puedes volver a la
                    página anterior o visitar nuestra página de inicio.
                </h3>

                <div class="container-links">
                    <a href="https://franciscofajardo.com" class="btn">
                        Inicio
                    </a>

                    <a href="javascript:window.history.back()" class="btn">
                        Volver a la página anterior
                    </a>
                </div>
            </div>
        </main>
    </body>
</html>
