<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- Robots tags -->
  <meta name="robots" content="index, follow" />
  <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
  <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />

  <!-- Browserconfig -->
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png" />

  <meta name="theme-color" content="#ffffff" />

  <title>E.T. "Francisco Fajardo"</title>

  <!-- SEO Tags -->
  <meta name="author" content="E.T. &quot;Francisco Fajardo&quot;" />
  <meta name="description" content="Creamos estudiantes con miras al éxito de un país productivo" />
  <meta name="keywords" content="francisco fajardo, fajardo, escuela tecnica, caricuao, liceo" />

  <link rel="canonical" href="https://franciscofajardo.com" />

  <!-- Open Graph / Facebook SEO Tags -->
  <meta property="og:image" content="https://franciscofajardo.com/img/logo.png" />
  <meta property="og:title" content="E.T. &quot;Francisco Fajardo&quot;" />
  <meta property="og:description" content="Creamos estudiantes con miras al éxito de un país productivo" />
  <meta property="og:locale" content="es_VE" />
  <meta property="og:site_name" content="E.T. &quot;Francisco Fajardo&quot;" />
  <meta property="og:url" content="https://franciscofajardo.com" />
  <meta property="og:type" content="school" />

  <!-- Twitter SEO Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="https://franciscofajardo.com/img/logo.png" />
  <meta name="twitter:title" content="E.T. &quot;Francisco Fajardo&quot;" />
  <meta name="twitter:description" content="Creamos estudiantes con miras al éxito de un país productivo" />
  <meta name="twitter:url" content="https://franciscofajardo.com" />

  <!-- Favicon's -->
  <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png" />
  <link rel="icon" sizes="192x192" href="/icons/android-icon-192x192.png" />
  <link rel="icon" sizes="32x32" href="/icons/favicon-32x32.png" />
  <link rel="icon" sizes="96x96" href="/icons/favicon-96x96.png" />
  <link rel="icon" sizes="16x16" href="/icons/favicon-16x16.png" />
  <link rel="shortcut icon" href="/favicon.ico" />

  <!-- Manifest -->
  <link rel="manifest" href="/manifest.webmanifest" />

  <!-- Styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" />

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha512-UDJtJXfzfsiPPgnI5S1000FPLBHMhvzAMX15I+qG2E2OAzC9P1JzUwJOfnypXiOH7MRPaqzhPbBGDNNj7zBfoA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha512-qWVvreMuH9i0DrugcOtifxdtZVBBL0X75r9YweXsdCHtXUidlctw7NXg5KVP3ITPtqZ2S575A0wFkvgS2anqSA==" crossorigin="anonymous"></script>
  <![endif]-->
</head>

<body>
  <main>
    <div class="container">
      <img src="/img/logo.png" class="container-img" alt="Insignia del E.T. &quot;Francisco Fajardo&quot;" />

      <h1 class="container-title">E.T. "Francisco Fajardo"</h1>

      <div class="container-links">
        <a href="/actividades/" class="btn">Actividades</a>
        <a href="/notas/" class="btn">Notas</a>
      </div>
    </div>
  </main>

  <footer>

  </footer>
</body>

</html>
